<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · WireGuard connectivity checker">
      <%= assigns[:page_title] || "Probe" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      // Load theme in <head>, prevents flicker when page loads
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="h-full">
      <nav class="p-4 bg-gray-50 dark:bg-slate-900">
        <div id="logo" class="fixed top-2 left-2 w-64 h-24 bg-logo-light dark:bg-logo-dark bg-no-repeat">
        </div>
        <div class="w-full h-10 flex justify-center items-center">
          <h1 class="text-4xl text-gray-900 font-semibold dark:text-white">Check WireGuard connectivity</h1>
        </div>
      </nav>
    <div class="flex w-full flex-col">
      <%= @inner_content %>
    </div>
    <footer class="p-4 bg-slate-900">
      <p class="text-gray-200">
        Made by Firezone, Inc.
      </p>
    </footer>
  </body>
</html>
