<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · WireGuard connectivity checker">
      <%= assigns[:page_title] || "Probe" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      // Load theme in <head>, prevents flicker when page loads
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="subpixel-antialiased bg-gray-50 dark:bg-slate-900">
    <div class="flex w-full flex-col">
      <%= @inner_content %>
    </div>
    <footer class="bg-slate-900">
      <div class="p-4 flex items-center">
        <div class="text-xs text-gray-200 w-1/3 flex justify-start">
          WireGuard is a registered trademark of Jason A. Donenfeld.
        </div>
        <div class="text-gray-200 w-1/3 flex justify-center">
          <div class="block">
            Made by <.link class="text-blue-400 underline hover:no-underline">Firezone</.link>.
          </div>
        </div>
        <div class="text-gray-200 w-1/3 flex justify-end">
          <div class="block">
            <a href="#" class="text-xs text-blue-400 hover:no-underline underline">
              Privacy Policy
            </a>
            |
            <a href="#" class="text-xs text-blue-400 hover:no-underline underline">
              Terms of Service
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
